@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Comic Neue';
    margin: 0;
    padding: 0;
    color:#fff;
}

html{
    background-color:#000;

}
body {
    background-color:#000;

}

